*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    
}
section{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 15px;

}
header ul li{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    list-style-type: none;
}
header ul li img{
    height: 30px;
    width: 30px;
}
header ul li a{
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.espace{
    padding: 50px;
}

/**********Container***************/

.container{
    display: flex;
    position: relative;
    width: 100%;
    padding: 60px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
}
.gauche{
    padding: 40px 0;
}
.container .gauche h2{
    color: #333;
    font-size: 1/5em;
    font-weight: 500;
    line-height: 1.4em;
    text-align: justify;
}
.container .gauche h2 span{
    font-weight: 700;
}
.container .gauche a{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background : #3f3d56;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
.flex-button{
    display: flex;
}
.perdu{
    padding: 0 30px;

}